<div class="scroll-content">
	<div class="w-100 filters mat-elevation-z2" innerAlign="left middle">
		<drag-scroll [drag-scroll-y-disabled]="true" [snap-disabled]="true"  scrollbar-hidden="true" class="no-select">
      <div drag-scroll-item>
			<div innerAlign="center middle" (click)="logFilters()">
				<i class="material-icons">filter_list_alt</i>
				<span class="mat-subheading-1 pr-1">Filters</span>
			</div>
      </div>
			<mat-form-field drag-scroll-item appearance="outline" class="pr-1">
				<mat-label>Departure Date</mat-label>
				<input matInput [(ngModel)]="filters.dateRange"
                   placeholder="Choose a date"
                   [satDatepicker]="picker2">
				<sat-datepicker #picker2 [rangeMode]="true">
				</sat-datepicker>
				<sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
			</mat-form-field>

			<mat-form-field drag-scroll-item appearance="outline" class="pr-1">
				<mat-label>Promotions</mat-label>
				<mat-select [(ngModel)]="filters.promotions.selectedOptions" multiple>
					<mat-option *ngFor="let  promo of filters.promotions.options" [value]="promo.value">
						{{promo.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field drag-scroll-item appearance="outline" class="pr-1">
				<mat-label>Bedding</mat-label>
				<mat-select [(ngModel)]="filters.bedding.selectedOption">
					<mat-option *ngFor="let bedding of filters.bedding.options" [value]="bedding.value">
						{{bedding.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field drag-scroll-item appearance="outline" class="pr-1">
				<mat-label>Cabin</mat-label>
				<mat-select [(ngModel)]="filters.cabins.selectedOptions" multiple>
					<mat-option *ngFor="let cabin of filters.cabins.options" [value]="cabin.value">
						{{cabin.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field drag-scroll-item appearance="outline">
				<mat-label>Sort</mat-label>
				<mat-select [(ngModel)]="filters.sort.selectedOption">
					<mat-option *ngFor="let sortOption of filters.sort.options" [value]="sortOption.value">
						{{sortOption.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</drag-scroll>


	</div>
	<ng-container *ngFor="let month of months; let even = even;" ;>
		<app-departure-month [filters]="filters" [month]="month" [class.even]="even" (isActive)="setActive($event)" [class.other-active]="!month.active && !allNotActive()">
			<span class="mat-display-1 pl-1 pr-1">{{month.label}}</span></app-departure-month>
	</ng-container>
</div>