:host() {
  width:calc(100% + 48px);
  margin-left:-24px;
  height: calc(100vh - 228px);
  display:block;
  overflow-y:scroll;
  //border-top:1px solid rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  background:var(--primary-lighter-color);
  &::-webkit-scrollbar {
    display: none;
}

  .scroll-content {
    max-width:calc(100vw - 33px);
    overflow:hidden;
    position:relative;

    .filters {
      padding:.25rem;
      background:#fff;
      flex-wrap:nowrap;
      .mat-subheading-1 {
        margin:0!important;
      }
    }
  }
}