:host() {
  width:calc(100% + 48px);
  margin-left:-24px;
  height: calc(100vh - 202px);
  display:block;
  overflow-y:scroll;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  background:var(--primary-lighter-color);

  .scroll-content {
    max-width: calc(100vw - 5rem);
    overflow:hidden;
    position:relative;
  }
}