<div class="tile" (click)="activate()" [class.active]="departure.active && departure.month.active">
	<div innerAlign="left middle" class="mat-headline">
		{{departure.begin | date:'EEE d'}}
		<i class="material-icons">keyboard_arrow_right</i>
		{{!departure.endsNextMonth ? (departure.end | date:'EEE dd') : (departure.end | date:'LLL EEE dd') }}
	</div>
	<div class="tile-line" innerAlign="left middle">
		<i class="material-icons md-18">monetization_on</i>
		<span *ngIf="departure.promotions.length == 0" class="mat-body-1 pr-1">No Promotions Available</span>
    <ng-container *ngIf="!departure.active">
          <span *ngFor="let promo of departure.promotions; let i = index;" class="mat-body-1 pr-1">{{promo.label}}</span>
    </ng-container>

		<mat-chip-list *ngIf="departure.active && departure.month.active">
			<mat-chip (click)="activatePromo(i)" color="accent" [selected]="promo.active" *ngFor="let promo of departure.promotions; let i = index;">{{promo.label}}</mat-chip>
		</mat-chip-list>
	</div>



	<span class="mat-subheading-2">
  From {{departure.price | currency}} AUD pp
  </span>

</div>




<!--

        <span  *ngIf="departure.promotions.length == 0" class="mat-body-1 pr-1">No Promotions Available</span>
			<ng-marquee *ngIf="departure.promotions.length > 0" #marquee [class.active]="mark.offsetWidth > 300 && departure.active && departure.month.active">
				<mark><div #mark><span *ngFor="let promo of departure.promotions; let i = index;" class="mat-body-1 pr-1">{{promo.label}}</span></div></mark>
			</ng-marquee>
 -->