:host() {
display:inline-flex!important;
height:100%;
padding:1rem;
position:relative;

.tile {
  min-width:300px;
  max-width:300px;
  padding:.5rem;
  height: 142px;
  border-radius:.5rem;
  background:#fff;
  overflow:hidden;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    align-content: start;

  &.active {
     max-width:600px;
     background: var(--primary-color);
    overflow:hidden;
      transition: all .4s cubic-bezier(.25,.8,.25,1);

span,i,div{
color:#fff!important;
}


  }
}
.promos {
 width:100%;
 white-space: wrap;
 .promo {
   display:flex;
 }
}

.promos:not(.active) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);


   .promo {
   display:inline;
  background: var(--accent-color);
    padding: .25rem .5rem;
    border-radius: 100px;
 }
}


.material-icons.md-18 {
font-size:18px;
margin-right:.25rem;
display:inline;
}

.tile-line {
  flex-wrap:nowrap;

}

  [ng-reflect-selected="false"] {
    background:transparent!important;
  }


}