:host() {
display:inline-flex!important;
width:300px;
height:100%;
padding:1rem;
position:relative;

.tile {
  width:calc(100% - 1rem);
  padding:.5rem;
  height: 142px;
  border-radius:.5rem;
  background:#fff;

  &.active {
    background:red;
  }
}

mark {
  background:transparent!important;
}

.material-icons.md-18 {
font-size:18px;
margin-right:.25rem;
display:inline;
}

.tile-line {
  flex-wrap:nowrap;
}

}