:host() {
display:inline-flex!important;
height:100%;
padding:1rem;
position:relative;

.tile {
  min-width:300px;
  max-width:300px;
  padding:.5rem;
  height: 142px;
  border-radius:.5rem;
  background:#fff;
  overflow:hidden;

  &.active {
     max-width:600px;
    background:red;
    overflow:hidden;
      transition: all .4s cubic-bezier(.25,.8,.25,1);

  }
}
.promos {
 width:100%;
 white-space: wrap;
 .promo {
   display:block;
 }
}

.promos:not(.active) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   .promo {
   display:inline;
 }
}


mark {
  background:transparent!important;
}

.material-icons.md-18 {
font-size:18px;
margin-right:.25rem;
display:inline;
}

.tile-line {
  flex-wrap:nowrap;

}

  [ng-reflect-selected="false"] {
    background:transparent!important;
  }


}