<div class="tile" (click)="activate()" 
[class.active]="departure.active && departure.month.active"
[class.other-active]="departure.month.active && !allNotActive && !departure.active">
	<div class="w-100">
    <div innerAlign="spaceBetween middle">
		<div innerAlign="left middle" class="mat-headline">
			{{departure.begin | date:'EEE dd'}}
			<i class="material-icons">keyboard_arrow_right</i>
			{{!departure.endsNextMonth ? (departure.end | date:'EEE dd') : (departure.end | date:'EEE dd LLL') }}
		</div>

   <i *ngIf="!departure.active || !departure.month.active" class="material-icons md-36 info">info</i>
   <i (click)="deactivate()" *ngIf="departure.active && departure.month.active" class="material-icons md-36 info">cancel</i>

    </div>
		<div class="tile-line pt-1 pb-1" innerAlign="left middle">
			<span *ngIf="departure.promotions.length == 0" class="no-promotions">No Promotions Available</span>
			<div class="promos" [class.active]="departure.active && departure.month.active">
       <div class="w-100 promo-title" *ngIf="departure.promotions.length > 0">Available Promotions</div>
				<span *ngFor="let promo of departure.promotions; let i = index;" class="promo mr-1" innerAlign="left middle">
          <i *ngIf="departure.active && departure.month.active" matTooltip="Applies to Categories: C, C+, D, D+ E " class="material-icons">info_outline</i>
          <span class="mat-body-2">{{promo.label}}</span></span>
			</div>
		</div>
	</div>


	<span class="mat-title">
  From {{departure.price | currency}} AUD pp
  </span>

</div>




<!--

        <span  *ngIf="departure.promotions.length == 0" class="mat-body-1 pr-1">No Promotions Available</span>
			<ng-marquee *ngIf="departure.promotions.length > 0" #marquee [class.active]="mark.offsetWidth > 300 && departure.active && departure.month.active">
				<mark><div #mark><span *ngFor="let promo of departure.promotions; let i = index;" class="mat-body-1 pr-1">{{promo.label}}</span></div></mark>
			</ng-marquee>
 -->